/*{
    border: 1px solid red !important;
}  */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	background: #572C00;
}

.container{
	background: #C3803A;
}

header{

	background: #F7DBBD;
	border: 1px solid brown;

}

.pred {
	background: #F7DBBD;
	margin-top:10px;
    margin-left: 0px;
}

.kontakty{
	margin-top: 10px;
	background: #F7DBBD;
}


footer{
	background: #F7DBBD;
}

a {
	color:#572C00;
	min-width:48px;
	min-height:48px;
}

li{
	min-width:48px;

}

.label {
    text-align: right;
}
.error {
    color: #c12828;
}


.padding {
    padding:10px;
}

.nopaddingLeft {
    padding-left:0px;
}

.btn-galerie {
    color: #F7DBBD;
    background-color:#572C00;
    margin: auto;
}

table {
    width: 100%;
    
}

th {
    height: 50px;
}
.zebra tr:nth-child(even) {background-color: #f2f2f2}
.zebra tr:nth-child(odd) {background-color: #FCF8E3}


.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #572C00;
}

.nav-btn {
    float: left;
}

.nav-btn a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #663400 (black) on hover */
.nav-btn a:hover {
    background-color: #663400;
    color:white;
}

.piece {
    border: 1px solid brown;
    width-max: 50%;
}

footer {
    min-width: 100%;
}