<!DOCTYPE html>
<html lang="cs-CZ">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="nH-KRItX_ILBd9OP_XA_e-Ey5g-v28GJvr1HzflY33g" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="templates/css/main.css">
    <title>Řezbář Jiří Kafuněk</title>
</head>

<body>
    <div class="container">
        <header class="modal-header col-md-12"><h1>Jiří Kafuněk</h1></header>
        
        {% block content %}
        {% endblock %}       

        <footer><p class="text-center">Naprogramoval Lukas Kafunek</p></footer>
    </div>
</body>

</htmltemplates/>