{% extends "base.html" %}

{% block content %}    
    <h2> Upravte: </h2>
    <form enctype="multipart/form-data" method="post">
        <input type="hidden" name="token" value="{{token}}"/>
        <div>nazev</div>
            <input type="text" name="name" value="{{piece.name}}">
            <br>
        {{('<div><img class="img-responsive" src="/img?img_id=%s" alt=""></img>' %  piece.key()) | safe}}
        <div>rozměry</div>
            <input type="text" name="measurements" value="{{piece.measurements}}">
            <br>
        <div>material</div>
            <input type="text" name="material" value="{{piece.material}}">
            <br>
        <div>vyrobeno v roce</div>
            <input type="text" name="crafted" value="{{piece.crafted}}">
            <br>
        <div><input type="submit"></div>
        
    </form>
      
{% endblock %}