{% extends "base.html" %}

{% block content %} 
        <div class="row">
            <div class="col-md-9">
                <img class="img-responsive" src="templates/img/jiri.jpg" alt="jiri se sovou a vodnikem">
            </div>
            <div class="col-md-3 nopadding">
                <a href="/galerie" class="btn btn-galerie center-block">Galerie</a>
                <article class="padding pred">
                    <h5>Představení</h5>
                    Řezbářství se věnuji necelých 5 let. Přivedla mě k tomu náhoda pes mi rozbil keramického vodníka tak jsem ho udělal dřevěného a od té doby mě to baví. Je to víc než koníček je to vášeň. V mládí jsem se věnoval výrobou intarzií trochu jiná dřevořezba.
                </article>
            </div>
            <div class="col-md-3">
                <div class="padding pred">
                <p>Kontakty:</p>
                <ul class="list-unstyled">
                    <li><a href="mailto:jirikafunek@seznam.cz">Napište mi</a> </li>
                    <li>603288937</li>
                </ul>
                </div>
            </div>
            <div class="col-md-3">
            <div class="pred padding">
                <p>Jinde na webu o mě:</p>
                <ul class="list-unstyled">
                    <li><a href="http://www.vysocina-news.cz/clanek/dny-otevrenych-atelieru-byly-take-v-jaromericich-nad-rokytnou/">vysocina-news</a>
            </li>
            <li><a href="http://www.rozhlas.cz/vysocina/tandem/_zprava/tri-kralove-ne-tri-prezidenti-rezbar-na-nich-pracoval-deset-dni--1361848">rozhlas</a>
            </li>
            <li><a href="http://rezbari.ceskatvorba.cz/profil/284/">http://rezbari.ceskatvorba.cz</a></li>
                    
                </ul>
                </div>
            </div>


        </div>
        

{% endblock %}